<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Professional Portfolio Website" />

    <!-- LINKS -->
    <link href="src/output.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.min.css"
    />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Poppins:wght@400;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- ICONS -->
    <link rel="stylesheet" href="https://cdn.lineicons.com/5.0/lineicons.css" />

    <!-- FAVICON -->
    <link rel="icon" type="image/png" href="/assets/favicon.png" sizes="32x32">
    <!-- Android -->
    <link rel="icon" type="image/png" href="/assets/favicon.png" sizes="192x192">
    <!-- Apple -->
    <link rel="apple-touch-icon" href="/assets/favicon.png">

    <title>Raevandhani</title>

  </head>
  <body class="bg-gray-50 dark:bg-gray-900 font-poppins transition-colors duration-300">

    <!-- Navigation -->
    <nav class="fixed top-0 w-full bg-white dark:bg-slate-900 shadow-sm z-50 transition-all duration-300" x-data="{ isOpen: false }">
      <div class="w-full">
        <div class="w-full flex justify-between items-center px-5 md:px-8 py-2 md:py-3 border-b border-gray-200 dark:border-gray-700">
          <div class="text-lg lg:text-2xl font-bold text-indigo-600 dark:text-indigo-400">
            <span class="text-gray-800 dark:text-gray-200">Raevan</span>dhani
          </div>
    
          <!-- Desktop Menu -->
          <div class="hidden md:flex space-x-5 md:space-x-6 items-center text-sm">
            <a href="../index.html"
               class="relative nav-link text-indigo-500 hover:text-indigo-600 dark:hover:text-indigo-500 transition-colors duration-300
                      after:content-[''] after:absolute after:left-0 after:-bottom-0.5 after:w-0 after:h-[2px] after:bg-indigo-500 after:transition-all after:duration-300 hover:after:w-full">
              Home
            </a>
          
            <a href="projects.html"
               class="relative nav-link text-gray-700 dark:text-gray-300 hover:text-indigo-600 dark:hover:text-indigo-500 transition-colors duration-300
                      after:content-[''] after:absolute after:left-0 after:-bottom-0.5 after:w-0 after:h-[2px] after:bg-indigo-600 after:transition-all after:duration-300 hover:after:w-full">
              Projects
            </a>
          
            <a href="achievements.html"
               class="relative nav-link text-gray-700 dark:text-gray-300 hover:text-indigo-600 dark:hover:text-indigo-500 transition-colors duration-300
                      after:content-[''] after:absolute after:left-0 after:-bottom-0.5 after:w-0 after:h-[2px] after:bg-indigo-600 after:transition-all after:duration-300 hover:after:w-full">
              Achievements
            </a>
          
            <a href="../index.html#contact"
               class="relative nav-link text-gray-700 dark:text-gray-300 hover:text-indigo-600 dark:hover:text-indigo-500 transition-colors duration-300
                      after:content-[''] after:absolute after:left-0 after:-bottom-0.5 after:w-0 after:h-[2px] after:bg-indigo-600 after:transition-all after:duration-300 hover:after:w-full">
              Contact
            </a>
          </div>
          
          <!-- Mobile Menu Button -->
          <div class="items-center space-x-4 flex md:hidden">
            <button @click="isOpen = !isOpen" class="md:hidden text-gray-700 dark:text-gray-300 focus:outline-none">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-8 py-1" x-show="!isOpen">
                <path fill-rule="evenodd" d="M2 4.75A.75.75 0 0 1 2.75 4h14.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 4.75Zm7 10.5a.75.75 0 0 1 .75-.75h7.5a.75.75 0 0 1 0 1.5h-7.5a.75.75 0 0 1-.75-.75ZM2 10a.75.75 0 0 1 .75-.75h14.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 10Z" clip-rule="evenodd" />
              </svg>
              <i class="ri-close-line text-2xl" x-show="isOpen"></i>
            </button>
          </div>
        </div>
        
      </div>

      <!-- Mobile Menu -->
      <div
        x-show="isOpen"
        x-transition:enter="transform transition ease-out duration-300"
        x-transition:enter-start="-translate-x-full opacity-0"
        x-transition:enter-end="translate-x-0 opacity-100"
        x-transition:leave="transform transition ease-in duration-200"
        x-transition:leave-start="translate-x-0 opacity-100"
        x-transition:leave-end="-translate-x-full opacity-0"
        class="md:hidden border-r border-gray-200 dark:border-gray-700/50 bg-white dark:bg-slate-900 shadow-md absolute top-10.5 left-0 w-full h-screen z-50 pt-4 px-1 space-y-1 text-gray-700 dark:text-gray-300"
      >
        <a href="../index.html" class="flex items-center gap-2 py-2 px-5 bg-white/10 rounded" @click="isOpen = !isOpen">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
            <path fill-rule="evenodd" d="M9.293 2.293a1 1 0 0 1 1.414 0l7 7A1 1 0 0 1 17 11h-1v6a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-6H3a1 1 0 0 1-.707-1.707l7-7Z" clip-rule="evenodd" />
          </svg>
          <h6 class="text-base text-gray-700 dark:text-gray-300">Home</h6>
        </a>
        <a href="projects.html" class="flex items-center gap-2 py-2 px-5 active:bg-white/10 rounded" @click="isOpen = !isOpen">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
            <path fill-rule="evenodd" d="M4.25 2A2.25 2.25 0 0 0 2 4.25v11.5A2.25 2.25 0 0 0 4.25 18h11.5A2.25 2.25 0 0 0 18 15.75V4.25A2.25 2.25 0 0 0 15.75 2H4.25Zm4.03 6.28a.75.75 0 0 0-1.06-1.06L4.97 9.47a.75.75 0 0 0 0 1.06l2.25 2.25a.75.75 0 0 0 1.06-1.06L6.56 10l1.72-1.72Zm4.5-1.06a.75.75 0 1 0-1.06 1.06L13.44 10l-1.72 1.72a.75.75 0 1 0 1.06 1.06l2.25-2.25a.75.75 0 0 0 0-1.06l-2.25-2.25Z" clip-rule="evenodd" />
          </svg>
          <h6 class="text-base text-gray-700 dark:text-gray-300">Projects</h6>
        </a>
        <a href="achievements.html" class="flex items-center gap-2 py-2 px-5 active:bg-white/10 rounded" @click="isOpen = !isOpen">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
            <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401Z" clip-rule="evenodd" />
          </svg>
          <h6 class="text-base text-gray-700 dark:text-gray-300">Achievements</h6>
        </a>
        <a href="../index.html#contact" class="flex items-center gap-3 py-2 px-5 active:bg-white/10 rounded" @click="isOpen = !isOpen">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-4">
            <path fill-rule="evenodd" d="M2 3.5A1.5 1.5 0 0 1 3.5 2h1.148a1.5 1.5 0 0 1 1.465 1.175l.716 3.223a1.5 1.5 0 0 1-1.052 1.767l-.933.267c-.41.117-.643.555-.48.95a11.542 11.542 0 0 0 6.254 6.254c.395.163.833-.07.95-.48l.267-.933a1.5 1.5 0 0 1 1.767-1.052l3.223.716A1.5 1.5 0 0 1 18 15.352V16.5a1.5 1.5 0 0 1-1.5 1.5H15c-1.149 0-2.263-.15-3.326-.43A13.022 13.022 0 0 1 2.43 8.326 13.019 13.019 0 0 1 2 5V3.5Z" clip-rule="evenodd" />
          </svg>
          <h6 class="text-base text-gray-700 dark:text-gray-300">Contact</h6>
        </a>
      </div>
    </nav>

    <!-- Projects Section -->
    <section id="projects" class="py-20 bg-white dark:bg-gray-900 mt-10" x-data="{ activeFilter: 'all' }">
      <div class="w-full px-12 xl:px-40">
        <h2 class="text-3xl md:text-4xl font-bold text-center mb-16 dark:text-white">
          My <span class="text-indigo-600 dark:text-indigo-400">Achievements</span>
        </h2>

        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8">
            <div class="bg-white dark:bg-gray-800 rounded-lg shadow-lg overflow-hidden transform hover:scale-[1.02] transition duration-300 ease-in-out border border-gray-200 dark:border-gray-700">
              <div class="relative h-48 overflow-hidden">
                <img
                  src="/assets/certificates/X_sertikom_1.png"
                  alt="Certificate for Web Development Course"
                  class="w-full h-full object-cover transition-opacity duration-300 hover:opacity-80"
                />
                <div class="absolute top-0 right-0 bg-indigo-600 text-white text-xs font-semibold px-3 py-1 rounded-bl-lg">
                  Certificate
                </div>
              </div>
              <div class="p-5">
                <h3 class="text-xl font-semibold mb-2 text-gray-900 dark:text-white truncate" title="restaurant-web-design">
                  Web Design
                </h3>
                <p class="text-sm text-gray-600 dark:text-gray-400 mb-4">
                  A restaurant web design using HTML and CSS
                </p>
                <a href="https://github.com/Raevandhani/Foodie" target="_blank" class="inline-flex items-center text-sm font-medium text-indigo-600 hover:text-indigo-500 dark:text-indigo-400 dark:hover:text-indigo-300 transition duration-150">
                  View Projects
                  <i class="ri-arrow-right-line ml-1"></i>
                </a>
              </div>
            </div>
        </div>
      </div>
    </section>

  </body>
  <!-- JS -->
  <script src="../src/main.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script
      src="https://kit.fontawesome.com/fb890e3537.js"
      crossorigin="anonymous">
  </script>
  <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js">
  </script>
</html>